@font-face {
    font-family: 'Sansation';
    src: url('./assets/fonts/sansation/Sansation_Regular.ttf');
}

@font-face {
    font-family: 'Sansation Bold';
    src: url('./assets/fonts/sansation/Sansation_Bold.ttf');
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    /* border: 1px solid red; */

}
html, body {
    overflow-x: hidden;
    scrollbar-width:none;
    scroll-behavior: smooth;
    scrollbar-color: #003347 transparent;
    /* overflow: hidden; */
}

.body-default-shrink, .body-game-shrink {
    display: grid;
}

.body-game-shrink{
    grid-template-columns: 0rem 1fr !important;
    grid-template-rows: 10rem 1fr 4rem !important;
    grid-template-areas: 
    "head head"
    "sidebar content"
    "foter foter" !important;
    /* justify-content: center;
    align-items: center; */
}

/* .body-default-shrink{
    grid-template-columns: 14% 1fr;
    grid-template-rows: 12rem 1fr 4rem;
    grid-template-areas:
        "head head"
        "sidebar content"
        "foter foter";
} */

.body-default-shrink{
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 12rem calc(100% - 16rem) 4rem;
    grid-template-areas:
        "head head"
        "sidebar content"
        "foter foter";
}

@media screen and (max-width: 1900px) {
    .body-default-shrink {
        grid-template-columns: 5rem 1fr;
        grid-template-rows: 12rem calc(100% - 16rem) 4rem;
        grid-template-areas:
            "head head" 
            "sidebar content"
            "foter foter";
    }
} 
*::-webkit-scrollbar {
    display: none;
}

body{
    background: linear-gradient(73deg, #00142ba8 10%,#003347a8 100%),url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Sansation';
    height: 100vh;
    transition: grid 1s ease;
    position: relative;
}
body::before{
    content: "";
    background: url(./images/top.svg);
    background-size: contain;
    background-position: center 4%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.25;
    z-index: -1;
}
footer{
    grid-area: foter;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.underbar{
    
    background: url(./images/bottom.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 50%;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    z-index: -1;
}

img{
    max-width: 100%;
}


side-bar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7rem;
    margin-left: 4%;
}


header-bar{
    grid-area: head;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    min-width: 700px;
}

root-content {
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2%;
}

game-table{
    position: relative;
    border: 1px solid red;
    width: 100%;
    height: 100%;
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;
}



launching-game {
    position: absolute;
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(230, 255, 255, 0.08); 
}

game-over{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.logout{
    position: absolute;
    display: flex;
    gap: 10px;
    margin-left: 1%;
    left: 0;
    top: 0;
    cursor: pointer;
}
.logout img{
    width: 30%;
}
.logoutText{
    color : white;
    font-size: 1.5rem;
}

.blur{
    filter: blur(5px);
}


.transform-1s
{
    transition: transform 1s ease;
}
.p-animation{
    transition-delay: 0.5s;
}
.shrink-50 {
    animation: shrink 1s forwards;
}

.drop-100 {
    animation: drop 2s forwards;
}
.rise-0 {
    animation: rise 2s forwards;
}
@keyframes drop {
    from{
        height: 0%;
        top: 2rem;
    }
    to {
        height: 100%;
        top:0;
    }
}

@keyframes rise {
    from {
        height: 100%;
        top: 0;
    }
    to {
        height: 0%;
        top: 3rem;
    }
}
@keyframes shrink {
    to {
      height: 0%;
    }
}
.down-60{
    transform: translateY(60%);
}
.down-50{
    transform: translateY(50%);
}
.down-100{
    transform: translateY(100%);
}
.up-50{
    transform: translateY(-50%);
}
.up-100{
    transform: translateY(-100%);
}

.left{
    transform: translateX(-150%);
}

*::-webkit-scrollbar { 
    display: none;
}

.alerts {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00142b99;
    z-index: 99;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
