/* w: 2560 | h: 1440 */

.root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    width: auto;
    height: auto;
    /* background-color: brown; */
}

.main-content
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 50px;
    width: 1830px;
    height: 1000px;
    margin-top: 50px;
    margin-left: 20px;
    background-color: rgba(217, 217, 217, 0.1);
    /* justify-content: center;
    align-items: center; */
    border-radius: 10px;
    padding: 50px;
}


.helloworld
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-content: center;
    align-items: center; */
    gap: 50px;
}

/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 48px;
    font-size: 22px;
    align-items: center;
    align-content: center;
    user-select: none;
    color: white;
    font-family: 'Sansation';
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .circle-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 100%;
    align-items: center;
    align-content: center;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .circle-checkbox {
    background-color: #d9d9d9;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .circle-checkbox {
    background-color: #00FFFC;
    width: 30px;
    height: 30px;
    align-items: center;
    align-content: center;
  }
  
  /* Create the circle-checkbox/indicator (hidden when not checked) */
  .circle-checkbox:after {
    content: "";
    position: absolute;
    display: none;
  }
  
/* Show the circle-checkbox when checked  */
  .checkbox-container input:checked ~ .circle-checkbox:after {
    display: block;
  }
  
   
  /* Style the circle-checkbox/indicator */
  .checkbox-container .circle-checkbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #00FFFC;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    align-items: center;
    align-content: center;
  }


.setting-row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25%;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
}

.setting-label
{
    color: white;
    font-family: 'Sansation';
    font-size: 32px;
}

.slider
{
    width: 600px;
    height: 64px;
    color: #00FFFC;
    background: #00FFFC;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 32px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(217, 217, 217, 0.3);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .toggle::before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    background-color: rgba(0, 255, 252, 1);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .toggle {
    background-color: rgba(0, 255, 252, 0.5);
  }
  
  input:focus + .toggle {
    box-shadow: 0 0 1px rgba(0, 255, 252, 1);
  }
  
  input:checked + .toggle:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
  }
  
  /* Rounded toggles */
  .toggle.round {
    border-radius: 32px;
  }
  
  .toggle.round:before {
    border-radius: 50%;
  }

  
  
  /* Create a custom checkbox */
  .rectangle-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    border: solid rgba(0, 255, 252, 1);
    border-radius: 3px;
    border-width: 2px;
    box-shadow: 0px 0px 5px 5px rgba(0, 255, 252, 0.25);
    align-items: center;
    align-content: center;
  }
  
  /* Create the circle-checkbox/indicator (hidden when not checked) */
  .rectangle-checkbox:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox-container input:checked ~ .rectangle-checkbox:after {
    display: block;
    align-items: center;
    align-content: center;
  }
  
   
  /* Style the circle-checkbox/indicator */
  .checkbox-container .rectangle-checkbox:after {
    left: 9px;
    width: 6px;
    height: 20px;
    border: solid rgba(0, 255, 252, 1);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }