ignore

#Ignore all vscode settings
**/.vscode

#Ignore all .DS_Store files.
.DS_Store
**/.DS_Store

#Ignore all docker environments
# **/.env

#Ignore all virtual environment
**/.venv

# Ignore all Python bytecode files
*.pyc

# Ignore __pycache__ directories
**/__pycache__/

# Ignore node_modules directory
node_modules

*.py[cod]
*.log
*.pot
*.pyc
__pycache__/

*backend/media/avatars/

# find . -type d -name "__pycache__" -exec rm -r {} \+
# find . -path "*/migrations/*.py" -not -name "__init__.py" -delete
# find . -path "*/migrations/*.pyc"  -delete