@font-face {
    font-family: 'Sansation';
    src: url('./sansation/Sansation_Regular.ttf');
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    /* border: 1px solid red; */
}
html, body {
    margin: 0;
    overflow: hidden;
}
body{
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 15% 80% 1fr;
    grid-template-areas: 
        "head head"
        "sidebar content";
    position: relative;
    height: 100vh;
    background: url(./images/background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Sansation';
    border: 1px solid red;
}




body::after{
    content: "";
    position: absolute;
    background: linear-gradient(73deg, #00142ba8 10%,#003347a8 100%),url(./images/bottom.svg);
    background-size: contain;
    background-position: center 96.40%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

body::before{
    content: "";
    position: absolute;
    background: url(./images/top.svg);
    background-size: contain;
    background-position: center 4%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

img{
    max-width: 100%;
}


side-bar{
    grid-area: sidebar;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}


header-bar{
    grid-area: head;
    display: grid;
    grid-template-columns: 200px 850px 200px;
    grid-template-areas: 
    "logo alarm-search profile";
    justify-content: space-between;
    margin: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* .root{
    border: 1px solid rgb(0, 255, 204);
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(3, 430px);
    grid-template-areas: 
    "single multiple online";
    justify-content: space-around;
} */

