.root{
    /* border: 1px solid rgb(0, 255, 204); */
    margin-right: 50px;
    margin-left: 50px;
    overflow-y: scroll;
    font-family: 'Sansation Bold', 'Sansation';
    background-color: #00ffff10;
}

.root::-webkit-scrollbar { 
    display: none;
}

.main-profile-container
{
    display: flex;
    position: relative;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.profile-image
{
    display: flex;
    position: relative;
    margin-left: 30%;
    margin-top: -155px;
    width: 500px;
    height: 250px;
    z-index: 3;
}

.profile-image > img {
    width: 250px;
    height: 250px;
}

.profile-image > .name {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 60px;
}

.name-and-online {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
}

.name-and-online > p {
    font-size: 40px;
    margin-right: 10px;
}

.name-and-online > .online-logo {

    width: 20px;
    height: 20px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.joined-date {
    color: #d9d9d9;
    gap: 10px;
    display: flex;
    width: 100%;
    margin-top: 10px;
    opacity: 0.7;
}

.profile-cover
{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 35%;
    min-height: 300px;
    max-height: 600px;
    color: white;
    /* border: 1px solid white; */
    background-image: url(./images/xxxxxx.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: local;
    opacity: 0.7;
    z-index: 1;
}
.profile-data
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    flex: 1;
    height: 100%;
}

.profile-data-infos
{
    flex: 1;
    height: 100%;
    min-width: 400px;
}

.profile-data-stats
{
    flex: 3;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    min-width: 900px;
    max-height: 700px;
    /* background-color: #00ffff10; */
    /* overflow: scroll; */
}

.profile-data-stats::-webkit-scrollbar { 
    display: none;
}


stats-container {
    grid-area: 1 / 1 / 5 / 5;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;
}


custom-graph
{
    grid-area: 1 / 5 / 5 / 7;
}

custom-table {
    max-height: 150px;
    grid-area: 5 / 1 / 6 / 7;
}


@media only screen and (max-width: 1600px) {

    .profile-data-stats {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 100%);
        min-width: 600px;
        height: 100%;
    }
    stats-container { grid-area: 1 / 1 / 2 / 2; max-height: 100%;}    
    custom-graph { grid-area: 2 / 1 / 3 / 2; max-width: 100%;}
    custom-table { grid-area: 3 / 1 / 4 / 2; max-width: 100%;}

}


/* ================= profile data stats league section ===================== */



.match-record {
    background-color: rgb(253, 253, 253);
    flex: 1;
    width: 100%;
}

.league-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d920;
    flex: 1.5;
    gap: 20px;
}

/* .league-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: 3;
} */

league-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: 3;
}

custom-progress-bar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* background-color: rgb(109, 72, 72); */
    flex: 1;
    margin-bottom: 20px;
}

.match-record {
    padding: 10px;
    margin-top: 20px;
    /* gap: 20px; */
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Sansation Bold', 'Sansation';
    background-color: #d9d9d920;
    color: white;
}

.match-record > p {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    flex: 1;
}

.match-record > button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 98px;
    height: 40px;
    margin: 4px;
    border-radius: 4px;
}

.match-record-stats {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.match-record-stats-box {
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.match-record-stats-box > hr {
    height: 70px;
    width: 2.4px;
    background-color: white;
}

.match-record-stats-box-title {
    /* font-family:  'Sansation'; */
    
}

.match-record-stats-box-value {
    color: aqua;
    font-size: 48px;
}


.horizontal-scroll-bar {

    background-color: #d9d9d920;
    width: 75%;
    height: 16px;
    border-radius: 200px;
}

.horizontal-scroll-bar-reach {
    background-color: #EB9A45;
    width: 80%;
    height: 100%;
    border-radius: 200px;
}


custom-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}


/* Style of the history table */


.table-time > p {
    font-family: 'Sansation';
    font-size: 16px;
    opacity: 0.5;
}

.table-score > p,
.table-username > p,
.table-result > p {
    opacity: 0.7;
}

.table-profile,
.table-replay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
    opacity: 1;
}



/* Profile data infos container */

.profile-data-infos-container {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 30px;
    padding-bottom: 20px;

}

.profile-data-infos-container-item {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.profile-data-infos-container-item-content {
    color: #d9d9d9;
    font-family: 'Sansation';
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.profile-data-infos-container-item > .title {
    display: flex;
    font-size: 26px;
    color: white;
    height: auto;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.profile-data-infos-container > .title > img 
{
    margin-right: 5px;
    width: 100%;
}


.profile-data-infos-container-item-content > .content {
    margin-top: 30px;
    margin-left: 30px;
    width: 100%;
}

.profile-data-infos-container-item-content > .content > .content-label {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.profile-data-infos-container-item-content > .content > .content-label > .content-value {
    font-family: 'Sansation bold';
    font-style: italic;
    font-size: 20px;
    width: 100%;
    color: white;
}

.profile-data-infos-container-item-content > .content > .content-label > .content-links {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    width: 125%;
}

.profile-data-infos-container-item-content > .content > .content-label > .content-links > a {
    color: #d9d9d9;
}

.profile-data-infos-container-item-content > .content > .content-label > .content-links > img {
    width: 14px;
    height: 14px;
}

.profile-data-infos-container-item-content > .content > .content-label > .content-league {
    display: table;
    /* flex-direction: row; */
    gap: 20px;
    justify-content: space-between;
    width: 180%;
}
