.side-bar{
    position: relative;
    grid-area: sidebar;
    border: 1px solid red;
    margin-top: 100px;
    margin-left: 40px;
    /* width: 380px; */
    /* height: 840px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}


.items{
    margin-top: 20px;
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    height: 70px;
    width: 100%;
    /* align-items: center; */
}


.images{
    position: absolute;
    /* margin-left: 20px; */
    /* margin-top: 35px; */
    width: 40px;
    height: 40px;
    z-index: 2;
    filter:drop-shadow(1px 2px 3px #00fffb);;
    /* opacity: 0.5; */
}


/* .images.on{
    position: absolute;
    margin-left: 25px;
    margin-top: 35px;
    width: 50px;
    height: 50px;
    z-index: 2;
    filter: drop-shadow(5px 5px red);
} */

.Shadow-relative{
    position: absolute;
    margin-left: 35px;
    z-index: 1;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.Shadow.on{
    /* border: 1px solid red; */
    position: absolute;
    z-index: 1;
    /* box-shadow: 0px 0px 52px 32px #00FFFC; */
}

.Click{
    position: relative;
    /* border: 1px solid red; */
    background-color: #00fffb;
    /* background: linear-gradient(65deg, #00fffb89 10%, transparent); */
    /* clip-path: polygon(100px 15px, 380px 15px, 300px 110px, 20px 110px); */
    height: 70px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px; */
    /* box-shadow: 0px 0px 5px 0px #00FFFC; */
    clip-path: polygon(0px 18px, 30px 0px, 60px 18px, 60px 52px, 30px 70px, 0px 52px);
}



.Click.on {
    border: 1px solid red;
    position: relative;
    /* border: 1px solid red; */
    background-color: #00fffb68;
    /* background: linear-gradient(65deg, #00fffcbd 10%, transparent); */
    /* clip-path: polygon(100px 15px, 380px 15px, 300px 110px, 20px 110px); */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px; */
    /* box-shadow: 0px 0px 15px 1px #00FFFC; */
    margin-left: 5px;
    filter:drop-shadow(5px 5px red);
}

.Content{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid rgb(0, 204, 255);
    width: 100%;
    background: linear-gradient(48deg, #09213af2 25%, #093967de 59%,#09213af2 92%);
    height: 100%;
    clip-path: polygon(2px 19px, 30px 2px, 58px 19px, 58px 51px, 30px 68px, 2px 51px);
}

/* .Content.on{
    
    position: absolute;
    width: 100%;
    background: linear-gradient(48deg, #09213a 25%, #093967 59%,#09213a 92%);
    height: 100%;
    clip-path: polygon(40px 7px, 368px 7px, 368px 92px,190px 92px, 180px 85px, 115px 85px);
    margin-left: 5px;
} */

.Click h1{
    color: #d9d9d9dd;
    font-size: 32px;
}


.Click.on h1{
    color: #ffffff;
    font-size: 38px;
}


.button-container{
    border: 1px solid red;
    width: 100%;
    height: 75px;
}