.horizontal-scroll-bar {

    background-color: #d9d9d920;
    width: 75%;
    height: 16px;
    border-radius: 200px;
}

.horizontal-scroll-bar-reach {
    background-color: #EB9A45;
    width: 80%;
    height: 100%;
    border-radius: 200px;
}