
.root {
    position: relative;
    /* width: 2000px;
    height: 1000px; */
    /* top: 20px; */
    /* margin-left: 20px; */
    /* left: 100px; */
}
/* h1 {
    position: absolute;
    background-color: 00FFFC;
    background-image: linear-gradient(to right, #32d9d69d, transparent);

    clip-path: polygon(0 0, 100% 0, 85% 85%, 13% 85%, 13% 100%, 0 85%);
    color:aliceblue;
    text-align: center;
    line-height: 1.4;
    width: 150px;
    height: 60px;
    opacity: 0.8;
} */

/* .chat-list {
    background-color: #203A4D;
    border-radius: 15px 0px 0px 15px;
    position: absolute;
    left: 20px;
    width: 400px;
    height: 1000px;
    
} */
/* .chat-nav {
    /* float: left; */
    /* color: #f2f2f2; */
    /* text-align: center; */
    /* padding: 14px 16px; */
    /* text-decoration: none; */
    /* font-size: 17px; */

    /* position: absolute;
    top: 7%;
    left: 10%;
    border: 1px #9A9A9A solid;
    width: 300px;
    height: 50px; 
}*/

/* ul {

    position: absolute;
    border: 1px #9A9A9A solid;
    top: 7%;
    left: 10%;
    width: 300px;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    
}

li {
    
    color: white;
    text-align: center;
    display: inline;
    margin-top: 20px;
    padding: 4px 16px;
    text-decoration: none;
} */

/* .content {
    background-color: #0C293C;
    opacity: 0.5;
    position: absolute;
    left: 420px;
    width: 1200px;
    height: 1000px;
}

.friend-list {

    background-color: #203A4D;
    position: absolute;
    border-radius: 0px 15px 15px 0px;
    right: 0;
    width: 400px;
    height: 1000px;

} */