<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <h1>Chat!</h1>
    <form id="form">
        <input type="text" name="message"> </input>
        <input type="submit"> </input>
    </form>
    <div id="messages">
        {% comment %} <div>
            <p> ${data.message} </p>
        </div> {% endcomment %}
    </div>
    
    <script type="text/javascript">
        function chat(sender_id, receiver_id) {
            sender = sender_id
            receiver = receiver_id
            if (sender < receiver)
                room_name = sender + '_' + receiver
            else
                room_name = receiver + '_' + sender

            url = 'ws://' + `${window.location.host}/ws/chat/${room_name}/`


            const webSocket = new WebSocket(url)


            webSocket.onmessage = function(e) {
                let data = JSON.parse(e.data)

                console.log(data)
                if (data.Error) {
                    console.log(data.Error)
                }
                else {
                    let messages = document.getElementById('messages')
                    messages.insertAdjacentHTML('afterbegin', `<div>
                        <p> ${data.content} </p>
                    </div>`)
                    console.log(data.content)
                }
            }

            let form = document.getElementById('form')
            form.addEventListener('submit', (e)=> {
                e.preventDefault()
                let message = e.target.message.value
                webSocket.send(JSON.stringify({
                    'message' : message,
                    'sender' : sender,
                    'receiver' : receiver
                }))
                form.reset()
            })
        }
        chat(5,5)
    </script>
</body>
</html>