

.table-date {
    color: white;
    opacity: 0.5;
    font-size: 24px;
    font-family: 'Sansation';
    width: auto;
    height: auto;
}


.table-date-day {
    margin-top: 8px;
    margin-bottom: 0;
}

.table-date-month {
    font-size: 16px;
    margin: 0;

}
