<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
</head>
<body>
    <h1>Notification!</h1>
    <form id="form">
        <input type="text" name="message"> </input>
        <input type="submit"> </input>
    </form>

    <div id="messages">
    </div>
    
    <script type="text/javascript">
        function notification(room_name) {
            url = `ws://${window.location.host}/ws/notification/user/${room_name}/`
            console.log(url)
            const websocket = new WebSocket(url)
            // on socket open
            websocket.onopen = function (e) {
                console.log('Web-Socket successfully connected.');
            };
            // on socket close
            websocket.onclose = function (e) {
                console.log('Web-Socket closed unexpectedly');
            };
            send_notification()

            function send_notification() {
                let form = document.getElementById('form')
                form.addEventListener('submit', (e)=> {
                    e.preventDefault()
                    let message = e.target.message.value
                    websocket.send(JSON.stringify({
                        'message' : message,
                    }))
                    form.reset()
                })
            }

        }



        let num = Math.floor(Math.random() * 4)
        if (!num)
            num = 1
        notification(num)
        
    </script>
</body>
</html>