<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
</head>
<body>
    <h1>Notification!</h1>
    <div id="messages">
    </div>
    
    <script type="text/javascript">
        url = `ws://${window.location.host}/ws/notification/`
        console.log(url)
        const websocket = new WebSocket(url)
        // on socket open
        websocket.onopen = function (e) {
            console.log('Web-Socket successfully connected.');
        };
        // on socket close
        websocket.onclose = function (e) {
            console.log('Web-Socket closed unexpectedly');
        };
        // on receiving message on group
        websocket.onmessage = function(e) {
            let data = JSON.parse(e.data)
            console.log(data)
            setMessage(data.message)
        }
        
        function setMessage(message) {
            let messages = document.getElementById('messages')
            messages.insertAdjacentHTML('afterbegin', `<div>
                <p> ${message} </p>
            </div>`)
        }
    </script>
</body>
</html>