<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
</head>
<body>
    <h1>Notification!</h1>
    <form id="form">
        <input type="text" name="message"> </input>
        <input type="submit"> </input>
    </form>

    <div id="messages">
    </div>
    
    <script type="text/javascript">
        url = `ws://${window.location.host}/ws/notification/`
        console.log(url)
        const ws = new WebSocket(url)
        // on socket open
        ws.onopen = function (e) {
            console.log('Web-Socket successfully connected.');
        };
        // on socket close
        ws.onclose = function (e) {
            console.log('Web-Socket closed unexpectedly');
        };



        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value
            ws.send(JSON.stringify({
                'message' : message,
                'receiver' : 1
            }))
            form.reset()
        })
        
    </script>
</body>
</html>