
#pingpong-logo
{
    flex: 1px;
    margin-left: 4%;
}

#pingpong-logo > img
{
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.notification-search
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex: 2;
    padding: 0 20px;
}


.notification-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 99;
}


@media (width <= 1000px)  {
    .notification-container {
        display: none;
    }
}


.search-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1;
    gap: 20px;
    min-width: 400px;
}



.notification-icon
{
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.number-of-notifications {
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background-color: red;
    color: white;
    font-size: 10px;
    position: absolute;
    right: 1px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sansation bold';
}

c-profile{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-area: profile;
    margin-right: 1%;
    cursor: pointer;
}

/* user-rank
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(10% 0%, 50% 0% ,90% 0%, 90% 60%, 50% 90%,10% 60%);
} */


.notification-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    gap: 10px;
    flex-wrap: wrap;
}

.c-hexagon-content {
    width: 32px;
    height: 32px;
}
           
.content {
    display: flex;
    flex: 3;
    height: 100%;
    align-items: center;
    color: #ffffff;
    gap: 10px;
}

.actions {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.actions img {
    width: 24px;
}



/*
    @SETTINGS
*/

.search-sections {
    width: calc(100% - 40px);
    display: flex;
    margin: 0 20px;
    flex-direction: column;
    max-height: 400px;
}

.result-section-content {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    display: flex;
    align-items: center;
    width: 100%;
}


.profile-item {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}
