online-game{
    background-image: url(../../../images/OrangeCart/OrangeCart.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    grid-area : online;
    display: flex;
    justify-content: center;
}

online-game:hover{
    transform: scale(1.03);
}
.OrangeCartImg{
    position: absolute;
    top: 0.5%;
    width: 98%;
    z-index: 0;
}

online-game::before{
    position: absolute;
    content: "";
    background: url(../../../images/OrangeCart/BorderShapes.svg);
    width: 100%;
    height: 100%;
    background-size: contain;
    top: 0%;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
    z-index: 1;

}
online-game::after{
    position: absolute;
    content: "";
    background: url(../../../images/OrangeCart/RL-Lines.svg);
    width:  99%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    top: 15.5%;
}
.multiPlayer{
    grid-area : multiple;
}
.online{
    grid-area : online;
    display: flex;
    align-items: center;
}

.multiPlayer img {
    margin-top: 7rem;
    width: 100%;
}

.online img{
    width: 100%;
}


.shapes3-4{
    /* border: 1px solid red; */
    position: relative;
    width: 100%;
    height: 100%;
}

.shapes3-4::before{
    position: absolute;
    content: "";
    background: url(../../../images/OrangeCart/shape3.svg);
    width: 45%;
    height: 13%;
    left: 5%;
    top: -1.5%;
    background-size: contain;
    background-repeat: no-repeat;
}

/* .shapes4-5::after{
    position: absolute;
    content: "";
    background: url(../../images/OrangeCart/shape5.svg);
    width: 14%;
    height: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    right: 0%;
    bottom: 4%;
} */

.Online-text{
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    /* border: 1px solid blue; */
    width: 100%;
    height: 50%;
}

.Online-text::before{
    /* border: 1px solid blue; */
    position: absolute;
    content: "";
    background: url(../../../images/OrangeCart/shape1.svg);
    width: 96.5%;
    height: 23%;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0.2%;
    top: 52.5%;
}

.Online-text::after{
    position: absolute;
    content: "";
    background: url(../../../images/OrangeCart/shape2.svg);
    width: 93.1%;
    height: 0.5%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 100%;
}


.Online-text h1{
    color: white;
    font-size: clamp(1rem, 1.6vw, 2.3rem);
}
.O-buttonC {
    position: relative;
    width: 100%;
    height: 47%;
    top: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.O-buttonC p{
    width: 75%;
    font-size: clamp(0rem, 1vw, 1.1rem);
    text-align: center;
    color: wheat;
}



.O-buttonC h1{
    font-size: clamp(1rem, 2vw, 2.8rem);
    text-align: center;
    text-wrap:wrap ;
    color: wheat;
}
