

#pingpong-logo{
    border: 1px solid red;
    grid-area: logo;
}

#pingpong-logo img{
    border: 1px solid red;
    grid-area: logo;
    width: 7rem;
    height: 7rem;
    margin-left: 5.5rem;
    margin-top: 3.5rem;
    object-fit: cover;
}

search-bar{
    position: relative;
    border: 1px solid red;
    grid-area:search;
    height: 80px;
    margin-top: 40px;
    border-radius: 10px;
}

.search-input{
    border: 1px solid red;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    border: 2px solid #00FFFC;
    background: transparent;
    padding-left: 135px;
    font-size: 25px;
    color: #ffffff;
}

.search-input::placeholder{
    color: #ffffff;
    font-family: 'Sansation';
}
.search-icon{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
}

.vertical-line{
    position: absolute;
    background-color: #00FFFC;
    width: 2px;
    height: 40px;
    margin-top: 20px;
    margin-left: 100px;
}

.notification-icon{
    display: flex;
    justify-content: end;
    grid-area: notification;
}

.notification-icon img{
    margin-top: 4.5rem;
    width: 50px;
    height: 50px;
    object-fit: cover;
}


c-profile{
    border: 1px solid red;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


c-hexagon{
    border: 1px solid red;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(13% 30%, 50% 6%, 87% 30%, 87% 70%, 50% 94%, 13% 70%);
    z-index: 1;
}

user-rank{
    border: 1px solid red;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0000;
    top: 6rem;
    width: 100px;
    height: 125px;
    clip-path: polygon(10% 0%, 50% 0% ,90% 0%, 90% 60%, 50% 90%,10% 60%);
}

.notification-search{
    border: 1px solid red;
    display: grid;
    grid-template-columns: 80% 10%;
    grid-template-areas: 
    "search notification";
    justify-content: space-between;
}
